
/node_modules
package-lock.json
 .env 
#.env dosyası, uygulamanın yapılandırma ayarlarını içeren bir dosyadır. Bu dosya genellikle gizli bilgileri (örneğin, veritabanı bağlantı dizesi, API anahtarları) içerir ve bu nedenle versiyon kontrol sistemlerine dahil edilmemelidir. .env dosyasını .gitignore dosyasına ekleyerek, bu tür hassas bilgilerin yanlışlıkla paylaşılmasını önleyebilirsiniz.

# production
/build



